
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isAdmin() {
      return request.auth != null && 
             request.auth.token.email == 'dev.mohattia@gmail.com';
    }

    match /users/{userId} {
      allow read: if request.auth != null;
      allow create: if request.auth != null && request.auth.uid == userId;
      
      // السماح بالتحديث لصاحب المستند أو المسؤول
      // السماح للمستخدمين الجدد بتحديث العداد والأسماء في مستند الشخص الداعي
      allow update: if request.auth != null && (
        request.auth.uid == userId || 
        isAdmin() ||
        (
          request.resource.data.diff(resource.data).affectedKeys().hasOnly(['referralCount', 'referredUsers']) &&
          request.resource.data.referralCount == resource.data.referralCount + 1
        )
      );

      // السماح للمسؤول فقط بحذف المستخدمين
      allow delete: if isAdmin();
    }

    match /registrations/{regId} {
      allow read: if request.auth != null && (isAdmin() || resource.data.userId == request.auth.uid);
      allow create: if request.auth != null;
      allow update: if isAdmin();
      allow delete: if isAdmin();
    }
    
    match /reviews/{reviewId} {
      allow read, list: if isAdmin();
      allow create: if request.auth != null;
      allow delete: if isAdmin();
    }
  }
}
